#confirmButton {
    margin-left: 10px;
    background-color: #0081d9 !important;
    border: solid 2px #0081d9 !important;
}

#confirmButton:hover {
    background-color: #3895d3 !important;
}

#confirmEventUpdateButton {
    margin-left: 10px;
}

.confirm-event-options {
    margin: 10px;
}
