.event-list {
    max-height: 300px;
    width: 500px;
    margin: 30px;
    margin-top: 31px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 0px !important;
    border: 1px solid #a0a096;
}

/* this id comes form the calendar page as a variable */
#calendar-event-list h1 {
    text-align: center;
}
