#passwordResetContainer h1 {
    text-align: center;
}

.password-reset-form {
    padding-top: 15px;
}

.password-reset-form .form-label {
    color: black;
    font-size: medium;
}

#passwordResetEmailBtn {
    margin-top: 15px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
