.date-picker-input {
  cursor: pointer;
}

.rc-time-picker > input {
  width: 100%;
  height: 38px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}

.rc-time-picker-panel-input {
  pointer-events: none;
}

.time-picker-input {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-create-event-plan {
  width: 75%;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.form-button {
  width: 30%;
  margin-top: 0.5rem;
}
