#scheduleSelectorWrapper {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

/*this makes the unused/unwanted cells go away*/
#scheduleSelectorWrapper > div > div {
  grid-template-rows: unset;
}

#selectedCell {
  width: 100%;
  height: 100%;
  background: rgb(59, 130, 246);
  border: solid 1px black;
}
#selectedCell:hover {
  background-color: #dbedff;
}

#unSelectedCell {
  width: 100%;
  height: 100%;
  border: solid 1px black;
}

#unSelectedCell:hover {
  background-color: rgb(191, 219, 254);
}

#yLabel {
  text-align: right;
}
